## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

# build
/src/locales.ts
/src/locales
/dist
/custom-elements.json
/.tsbuildinfo
/.rollup.cache
/screenshots/*/failed/

# IDE
.vscode/
.idea/
