* {
  --french-blue-15: #0b335b;
  --french-blue-55: #2485e5;
  --omicron-yellow: #f5e214;
  --slate-0: #121417;
  --slate-5: #1a1e23;
  --slate-10: #23282f;
  --slate-15: #2c323a;
  --slate-20: #363d47;
  --slate-25: #3d4651;
  --slate-30: #46505d;
  --slate-35: #4f5a69;
  --slate-40: #586474;
  --slate-45: #606e80;
  --slate-50: #69788c;
  --slate-55: #738296;
  --slate-60: #7f8c9f;
  --slate-65: #8b97a7;
  --slate-70: #96a1b0;
  --slate-75: #a2abb9;
  --slate-80: #aeb6c2;
  --slate-85: #b9c0ca;
  --slate-90: #c5cbd3;
  --slate-95: #d0d5dc;
  --slate-100: #dce0e5;
  --slate-105: #e8eaed;
  --slate-110: #f3f5f6;
  --coal-0: #0a0a0a;
  --coal-5: #141414;
  --coal-10: #1f1f1f;
  --coal-15: #292929;
  --coal-20: #333;
  --coal-25: #3d3d3d;
  --coal-30: #474747;
  --coal-35: #525252;
  --coal-40: #5c5c5c;
  --coal-45: #666;
  --coal-50: #707070;
  --coal-55: #7a7a7a;
  --coal-60: #858585;
  --coal-65: #8f8f8f;
  --coal-70: #999;
  --coal-75: #a3a3a3;
  --coal-80: #adadad;
  --coal-85: #b8b8b8;
  --coal-90: #c2c2c2;
  --coal-95: #ccc;
  --coal-100: #d6d6d6;
  --coal-105: #e0e0e0;
  --coal-110: #ebebeb;
}
