* {
  --oscd-theme-primary: var(--french-blue-15);
  --oscd-theme-secondary: var(--french-blue-55);
  --oscd-theme-base03: var(--slate-0);
  --oscd-theme-base02: var(--slate-5);
  --oscd-theme-base01: var(--slate-25);
  --oscd-theme-base00: var(--slate-30);
  --oscd-theme-base0: var(--slate-65);
  --oscd-theme-base1: var(--slate-70);
  --oscd-theme-base2: var(--slate-110);
  --oscd-theme-base3: white;
  --oscd-theme-error: #dc322f;
  --oscd-theme-text-font: "Roboto";
  --oscd-theme-icon-font: "Material Symbols Outlined";
  --oscd-theme-text-font-mono: "Roboto Mono";
  --oscd-theme-warning: #b58900;
  margin: 0;
  padding: 0;
}

abbr {
  border-bottom: none;
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: url("background-DiV8u6qL.svg") center / cover no-repeat fixed;
}
