name: Release Please

on:
  workflow_dispatch:
  push:

jobs:
  npm-publish:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    uses: OMICRONEnergyOSS/oscd-gh-workflows/.github/workflows/release-please.yml@main
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
